@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600&display=swap");
@import "variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  // background-color: #626a78;
  overflow: hidden;
  position: relative;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/sushi-second.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  filter: blur(7px) brightness(0.4);
  transform: scale(1.2);
}

.container {
  min-width: 1200px;
  margin: 0 auto;
}
.nav {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__el {
    color: white;
    text-transform: uppercase;
    font-family: $josefin;
    cursor: pointer;
  }

  &__logo {
    width: 50px;
    height: 50px;
    background-color: white;
  }
}

.main {
  &__heading {
  }
  &__h1 {
  }
}

.btn {
}
